---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/expenses.json?workspace_id=3457635
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c9043fa5698e590599c2b6d60b25a9ce"'
    body:
      encoding: UTF-8
      string: '{"count":2,"expenses":{"8509845":{"created_at":"2013-07-29T19:39:29-07:00","updated_at":"2013-07-29T20:10:17-07:00","date":"2013-07-31","notes":"Expense
        Notes","category":"Travel","amount_in_cents":20000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":true,"id":"8509845","workspace_id":"3457635","user_id":"3711195"},"8509865":{"created_at":"2013-07-29T19:39:55-07:00","updated_at":"2013-07-29T21:42:19-07:00","date":"2013-07-29","notes":"","category":"Random
        Category 42","amount_in_cents":500,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":false,"id":"8509865","workspace_id":"3457635","user_id":"3711195"}},"results":[{"key":"expenses","id":"8509845"},{"key":"expenses","id":"8509865"}]}'
  recorded_at: Tue, 30 Jul 2013 04:43:40 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/expenses.json?order=date:asc&workspace_id=3457635
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"84d943d60d0e4e5ec0422e3f139656e9"'
    body:
      encoding: UTF-8
      string: '{"count":2,"expenses":{"8509865":{"created_at":"2013-07-29T19:39:55-07:00","updated_at":"2013-07-29T21:42:19-07:00","date":"2013-07-29","notes":"","category":"Random
        Category 42","amount_in_cents":500,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":false,"id":"8509865","workspace_id":"3457635","user_id":"3711195"},"8509845":{"created_at":"2013-07-29T19:39:29-07:00","updated_at":"2013-07-29T20:10:17-07:00","date":"2013-07-31","notes":"Expense
        Notes","category":"Travel","amount_in_cents":20000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":true,"id":"8509845","workspace_id":"3457635","user_id":"3711195"}},"results":[{"key":"expenses","id":"8509865"},{"key":"expenses","id":"8509845"}]}'
  recorded_at: Tue, 30 Jul 2013 04:43:40 GMT
[...]
- request:
    method: post
    uri: https://api.mavenlink.com/api/v1/expenses.json
    body:
      encoding: UTF-8
      string: expense[workspace_id]=3403465&expense[date]=2012%2F01%2F01&expense[category]=Travel&expense[amount_in_cents]=100
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"151c805df09610de81555a32692faafe"'
    body:
      encoding: UTF-8
      string: '{"count":1,"expenses":{"8510805":{"created_at":"2013-07-29T21:43:49-07:00","updated_at":"2013-07-29T21:43:49-07:00","date":"2012-01-01","notes":null,"category":"Travel","amount_in_cents":100,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":false,"id":"8510805","workspace_id":"3403465","user_id":"3711195"}},"results":[{"key":"expenses","id":"8510805"}]}'
  recorded_at: Tue, 30 Jul 2013 04:43:48 GMT
- request:
    method: put
    uri: https://api.mavenlink.com/api/v1/expenses/8509865.json
    body:
      encoding: UTF-8
      string: expense[notes]=&expense[category]=Random%20Category%20X&expense[date]=2013-07-29&expense[amount_in_cents]=500&expense[billable]=false
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"00e05846f767ca92a3b68057cc6400bb"'
    body:
      encoding: UTF-8
      string: '{"count":1,"expenses":{"8509865":{"created_at":"2013-07-29T19:39:55-07:00","updated_at":"2013-07-29T21:43:52-07:00","date":"2013-07-29","notes":"","category":"Random
        Category X","amount_in_cents":500,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":false,"id":"8509865","workspace_id":"3457635","user_id":"3711195"}},"results":[{"key":"expenses","id":"8509865"}]}'
  recorded_at: Tue, 30 Jul 2013 04:43:52 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/expenses.json?order=date:asc&workspace_id=3403465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"2dbc7d74a19adf74d171ae4039ca71ba"'
    body:
      encoding: UTF-8
      string: '{"count":2,"expenses":{"8510665":{"created_at":"2013-07-29T21:34:23-07:00","updated_at":"2013-07-29T21:34:23-07:00","date":"2012-01-01","notes":null,"category":"Travel","amount_in_cents":100,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":false,"id":"8510665","workspace_id":"3403465","user_id":"3711195"},"8510645":{"created_at":"2013-07-29T21:33:08-07:00","updated_at":"2013-07-29T21:33:08-07:00","date":"2013-07-29","notes":"","category":"Mileage","amount_in_cents":23400,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":true,"is_invoiced":false,"is_billable":true,"id":"8510645","workspace_id":"3403465","user_id":"3711195"}},"results":[{"key":"expenses","id":"8510665"},{"key":"expenses","id":"8510645"}]}'
  recorded_at: Tue, 30 Jul 2013 04:43:54 GMT
recorded_with: VCR 2.5.0
