---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/posts.json?include=subject,user,workspace,story,replies,newest_reply,newest_reply_user,recipients,google_documents,assets&workspace_id=3484825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"969e827f2726263d1e4730199d2f3b6e"'
    body:
      encoding: US-ASCII
      string: ! '{"count":3,"posts":{"26234855":{"newest_reply_at":null,"message":"Test
        reply post","has_attachments":false,"created_at":"2013-08-01T11:47:55-07:00","updated_at":"2013-08-01T11:47:55-07:00","reply_count":0,"reply":true,"private":false,"id":"26234855","subject_id":"26234825","subject_type":"Post","user_id":"3711195","workspace_id":"3484825","workspace_type":"Workspace","story_id":null,"reply_ids":[],"newest_reply_id":null,"newest_reply_user_id":null,"recipient_ids":[],"google_document_ids":[],"asset_ids":[]},"26234825":{"newest_reply_at":"2013-08-01T11:47:55-07:00","message":"Test
        Post 1","has_attachments":false,"created_at":"2013-08-01T11:47:42-07:00","updated_at":"2013-08-01T11:47:55-07:00","reply_count":1,"reply":false,"private":false,"id":"26234825","subject_id":null,"subject_type":null,"user_id":"3711195","workspace_id":"3484825","workspace_type":"Workspace","story_id":"26597115","reply_ids":["26234855"],"newest_reply_id":"26234855","newest_reply_user_id":"3711195","recipient_ids":[],"google_document_ids":[],"asset_ids":[]},"26234875":{"newest_reply_at":null,"message":"Test
        Post 2","has_attachments":false,"created_at":"2013-08-01T11:47:59-07:00","updated_at":"2013-08-01T11:47:59-07:00","reply_count":0,"reply":false,"private":false,"id":"26234875","subject_id":null,"subject_type":null,"user_id":"3711195","workspace_id":"3484825","workspace_type":"Workspace","story_id":null,"reply_ids":[],"newest_reply_id":null,"newest_reply_user_id":null,"recipient_ids":[],"google_document_ids":[],"asset_ids":[]}},"results":[{"key":"posts","id":"26234875"},{"key":"posts","id":"26234825"},{"key":"posts","id":"26234855"}],"users":{"3711195":{"full_name":"Parth","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"parth@mavenlink.com","headline":null,"id":"3711195"}},"workspaces":{"3484825":{"title":"Test
        Project Meh","archived":false,"description":"","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-08-01T11:47:59-07:00","created_at":"2013-08-01T10:49:56-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$0","over_budget":false,"currency":"USD","id":"3484825","creator_id":"3711195"}},"stories":{"26597115":{"title":"New
        Task","description":null,"updated_at":"2013-08-01T10:56:00-07:00","created_at":"2013-08-01T10:56:00-07:00","due_date":null,"start_date":null,"story_type":"task","state":"not
        started","position":1,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":0,"budget_estimate_in_cents":null,"time_estimate_in_minutes":null,"budget_used_in_cents":0,"logged_billable_time_in_minutes":0,"id":"26597115","workspace_id":"3484825","parent_id":null}},"google_documents":{},"assets":{}}'
  recorded_at: Thu, 01 Aug 2013 18:49:13 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/posts.json?include=subject,user,workspace,story,replies,newest_reply,newest_reply_user,recipients,google_documents,assets&parents_only=true&workspace_id=3484825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
     [...]
- request:
    method: post
    uri: https://api.mavenlink.com/api/v1/posts.json
    body:
      encoding: US-ASCII
      string: post[message]=Created%20new%20post&post[workspace_id]=3484825
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"8b643cceef09df938f15d9f8757ed72e"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"posts":{"26235265":{"newest_reply_at":null,"message":"Created
        new post","has_attachments":false,"created_at":"2013-08-01T11:52:58-07:00","updated_at":"2013-08-01T11:52:58-07:00","reply_count":0,"reply":false,"private":false,"id":"26235265","subject_id":null,"subject_type":null,"user_id":"3711195","workspace_id":"3484825","workspace_type":"Workspace","story_id":null}},"results":[{"key":"posts","id":"26235265"}]}'
  recorded_at: Thu, 01 Aug 2013 18:52:58 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/posts/26236735.json?include=subject,user,workspace,story,replies,newest_reply,newest_reply_user,recipients,google_documents,assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3d7554b731f[...]
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/posts.json?include=subject,user,workspace,story,replies,newest_reply,newest_reply_user,recipients,google_documents,assets&only=26239615&workspace_id=3457635
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Eta[...]
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/posts/26236725.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"62a6f2dd79e7d9600a888097a5db9af8"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"posts":{"26236725":{"newest_reply_at":null,"message":"TestPost1","has_attachments":false,"created_at":"2013-08-01T12:08:12-07:00","updated_at":"2013-08-01T12:08:30-07:00","reply_count":0,"reply":false,"private":false,"id":"26236725","subject_id":null,"subject_type":null,"user_id":"3711195","workspace_id":"3457635","workspace_type":"Workspace","story_id":"26596455"}},"results":[{"key":"posts","id":"26236725"}]}'
  recorded_at: Fri, 02 Aug 2013 23:29:36 GMT
recorded_with: VCR 2.5.0
