---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories.json?include=workspace,assignees,parent,sub_stories,tags&workspace_id=3403465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"2313f80ad7e4585077ad41dd82fcd92f"'
    body:
      encoding: US-ASCII
      string: ! '{"count":3,"stories":{"26593195":{"title":"Example sub-task","description":null,"updated_at":"2013-08-01T09:53:24-07:00","created_at":"2013-08-01T09:51:18-07:00","due_date":"2013-06-21","start_date":"2013-06-13","story_type":"task","state":"not
        started","position":1,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":0,"budget_estimate_in_cents":3400,"time_estimate_in_minutes":120,"budget_used_in_cents":0,"logged_billable_time_in_minutes":0,"id":"26593195","workspace_id":"3403465","parent_id":"26506955","assignee_ids":[],"sub_story_ids":[],"tag_ids":[]},"26506955":{"title":"Example
        Task","description":null,"updated_at":"2013-08-01T09:53:24-07:00","created_at":"2013-07-31T15:49:23-07:00","due_date":"2013-07-02","start_date":"2013-06-05","story_type":"task","state":"not
        started","position":1,"archived":false,"deleted_at":null,"sub_story_count":1,"percentage_complete":0,"budget_estimate_in_cents":4300,"time_estimate_in_minutes":180,"budget_used_in_cents":0,"logged_billable_time_in_minutes":0,"id":"26506955","workspace_id":"3403465","parent_id":null,"assignee_ids":["3711195"],"sub_story_ids":["26593195"],"tag_ids":[]},"26593185":{"title":"New
        Task","description":null,"updated_at":"2013-08-01T09:53:29-07:00","created_at":"2013-08-01T09:51:08-07:00","due_date":"2013-08-23","start_date":"2013-08-14","story_type":"milestone","state":"not
        started","position":2,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":0,"budget_estimate_in_cents":300,"time_estimate_in_minutes":300,"budget_used_in_cents":0,"logged_billable_time_in_minutes":0,"id":"26593185","workspace_id":"3403465","parent_id":null,"assignee_ids":[],"sub_story_ids":[],"tag_ids":[]}},"results":[{"key":"stories","id":"26593185"},{"key":"stories","id":"26506955"},{"key":"stories","id":"26593195"}],"workspaces":{"3403465":{"title":"8105
        Project","archived":false,"description":"---\r\n- ! ''---\r\n\r\n  - ergo\r\n\r\n  -
        ''''''''\r\n\r\n''\r\n- ''''","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-08-01T09:53:29-07:00","created_at":"2013-07-20T21:51:00-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":false,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$234","over_budget":false,"currency":"USD","id":"3403465","creator_id":"3711195"}},"users":{"3711195":{"full_name":"Parth","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"parth@mavenlink.com","headline":null,"id":"3711195"}},"tags":{}}'
  recorded_at: Thu, 01 Aug 2013 16:56:58 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories.json?include=workspace,assignees,parent,sub_stories,tags&parents_only=true&workspace_id=3403465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"ee7deccb058c25e40a0707515f93dc14"'
   [...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories.json?include=workspace,assignees,parent,sub_stories,tags&order=created_at:asc&workspace_id=3403465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"82cf7c0b83a3696f2caccebd54d5f08f"'
[...]
- request:
    method: post
    uri: https://api.mavenlink.com/api/v1/stories.json
    body:
      encoding: US-ASCII
      string: story[workspace_id]=3467515&story[title]=New%20Task&story[story_type]=task
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"e740062c36ff9b5eff1963946f9b6412"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"stories":{"26593975":{"title":"New Task","description":null,"updated_at":"2013-08-01T10:12:38-07:00","created_at":"2013-08-01T10:12:38-07:00","due_date":null,"start_date":null,"story_type":"task","state":"not
        started","position":0,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":0,"budget_estimate_in_cents":null,"time_estimate_in_minutes":null,"budget_used_in_cents":0,"logged_billable_time_in_minutes":0,"id":"26593975","workspace_id":"3467515","parent_id":null}},"results":[{"key":"stories","id":"26593975"}]}'
  recorded_at: Thu, 01 Aug 2013 17:12:38 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories/26593185.json?include=workspace,assignees,parent,sub_stories,tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0236f475204b3b50314c52f7bbe9f728"'
    body:
      encoding: US-ASCI[...]
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories.json?include=workspace,assignees,parent,sub_stories,tags&order=date:asc&workspace_id=3457635
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1db5a919cbc24aca3da3117bfae2f131"'
    bo[...]
- request:
    method: delete
    uri: https://api.mavenlink.com/api/v1/stories/26133885.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 01 Aug 2013 17:45:22 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories.json?include=workspace,assignees,parent,sub_stories,tags&search=Random%20New%20Workspace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"bd18395455447869a211ce95707d54eb"'
    body:
[...]
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories.json?include=workspace,assignees,parent,sub_stories,tags&search=Test%20Project%20Meh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6cc6fc72b4caed18d3ffe942b76a8b45"'
    body:
    [...]
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories.json?include=workspace,assignees,parent,sub_stories,tags&only=26593185&workspace_id=3403465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6ad95751ab1ad6d5d6a92fc335777b15"'
    bod[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories/26593185.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"4cae0f84a0328a66b5aeaaf7c2c100a2"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"stories":{"26593185":{"title":"New Task","description":"","updated_at":"2013-08-01T11:00:38-07:00","created_at":"2013-08-01T09:51:08-07:00","due_date":"2013-08-23","start_date":"2013-08-14","story_type":"milestone","state":"started","position":3,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":10,"budget_estimate_in_cents":300,"time_estimate_in_minutes":300,"budget_used_in_cents":0,"logged_billable_time_in_minutes":0,"id":"26593185","workspace_id":"3403465","parent_id":null}},"results":[{"key":"stories","id":"26593185"}]}'
  recorded_at: Fri, 02 Aug 2013 23:29:36 GMT
recorded_with: VCR 2.5.0
