---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/time_entries.json?include=user,story,workspace&order=created_at:asc&workspace_id=3457635
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"62e73b291292e3fe677837e7ee6a6319"'
    body:
      encoding: US-ASCII
      string: ! '{"count":2,"time_entries":{"8571775":{"created_at":"2013-07-31T10:43:32-07:00","date_performed":"2013-07-01","time_in_minutes":300,"billable":true,"notes":"Additional
        Notes Example","rate_in_cents":2500,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"updated_at":"2013-07-31T10:43:32-07:00","user_can_edit":false,"id":"8571775","story_id":"26133885","workspace_id":"3457635","user_id":"3711195"},"8571785":{"created_at":"2013-07-31T10:43:48-07:00","date_performed":"2013-07-03","time_in_minutes":60,"billable":false,"notes":"","rate_in_cents":0,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"updated_at":"2013-07-31T10:43:48-07:00","user_can_edit":false,"id":"8571785","story_id":"26133885","workspace_id":"3457635","user_id":"3711195"}},"results":[{"key":"time_entries","id":"8571775"},{"key":"time_entries","id":"8571785"}],"users":{"3711195":{"full_name":"Parth","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"parth@mavenlink.com","headline":null,"id":"3711195"}},"stories":{"26133885":{"title":"Task
        1","description":null,"updated_at":"2013-07-31T10:45:24-07:00","created_at":"2013-07-29T19:36:48-07:00","due_date":"2013-07-09","start_date":"2013-07-01","story_type":"task","state":"not
        started","position":1,"archived":false,"deleted_at":null,"sub_story_count":1,"percentage_complete":0,"budget_estimate_in_cents":50000,"time_estimate_in_minutes":300,"budget_used_in_cents":12500,"logged_billable_time_in_minutes":300,"id":"26133885","workspace_id":"3457635","parent_id":null}},"workspaces":{"3457635":{"title":"Random
        New Workspace","archived":false,"description":"---\n- ''''\n- ''''\n","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-31T10:45:24-07:00","created_at":"2013-07-29T19:32:34-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$325","over_budget":false,"currency":"USD","id":"3457635","creator_id":"3711195"}}}'
  recorded_at: Wed, 31 Jul 2013 21:41:40 GMT
- request:
    method: post
    uri: https://api.mavenlink.com/api/v1/time_entries.json
    body:
      encoding: US-ASCII
      string: time_entry[workspace_id]=3467515&time_entry[date_performed]=2013-07-04&time_entry[time_in_minutes]=34
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"d566b984059431cc8534810b056288bf"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"time_entries":{"8585845":{"created_at":"2013-07-31T14:45:29-07:00","date_performed":"2013-07-04","time_in_minutes":34,"billable":false,"notes":null,"rate_in_cents":0,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"updated_at":"2013-07-31T14:45:29-07:00","user_can_edit":true,"id":"8585845","story_id":null,"workspace_id":"3467515","user_id":"3711195"}},"results":[{"key":"time_entries","id":"8585845"}]}'
  recorded_at: Wed, 31 Jul 2013 21:45:29 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/time_entries.json?include=user,story,workspace&workspace_id=3467515
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7cf613c174ebd78348d9ab026cff6f48"'
    body:
      encoding: US-ASCII
    [...]
- request:
    method: delete
    uri: https://api.mavenlink.com/api/v1/time_entries/8588215.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 31 Jul 2013 22:25:42 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/expenses.json?order=date:asc&workspace_id=3467515
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6eced65aa068c8122b3fae85db259505"'
    body:
      encoding: US-ASCII
      string: ! '{"count":0,"expenses":{},"results":[]}'
  recorded_at: Wed, 31 Jul 2013 22:26:56 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/time_entries.json?include=user,story,workspace&order=date:asc&workspace_id=3467515
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"358afc58d13e71e8c0a367271d13f4ac"'
    body:
      encoding[...]
[...]
- request:
    method: put
    uri: https://api.mavenlink.com/api/v1/time_entries/8571785.json
    body:
      encoding: US-ASCII
      string: time_entry[date_performed]=2013-07-03&time_entry[story_id]=26133885&time_entry[time_in_minutes]=75&time_entry[notes]=&time_entry[rate_in_cents]=0&time_entry[billable]=false
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"type":"system","message":"Not found"}]}'
  recorded_at: Wed, 31 Jul 2013 22:44:24 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/time_entries/8585845.json?include=user,story,workspace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"type":"system","message":"Not found"}]}'
  recorded_at: Wed, 31 Jul 2013 22:49:00 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/time_entries.json?include=user,story,workspace&only=8590085
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"8faf3c1820d3c8bec717ae51acd1f11f"'
    body:
      encoding: US-ASCII
      string[...]
[...]
