---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/users.json?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"03bdd9fe45d8d1ad347f30b5537b9a7c"'
    body:
      encoding: UTF-8
      string: ! '{"count":3,"users":{"3847595":{"full_name":"API Test Account 1","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"mavenlinkapitest@gmail.com","headline":null,"id":"3847595"},"3847585":{"full_name":"API
        Test Account 2","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"mavenlinkapitest2@gmail.com","headline":null,"id":"3847585"}},"results":[{"key":"users","id":"3847595"},{"key":"users","id":"3847585"}]}'
  recorded_at: Mon, 29 Jul 2013 03:16:19 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/users.json?participant_in=3448785
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"42bc421ca2911617b02290a56a3164bf"'
    body:
      encoding: UTF-8
      string: ! '{"count":1,"users":{"3847595":{"full_name":"API Test Account 1","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"mavenlinkapitest@gmail.com","headline":null,"id":"3847595"}},"results":[{"key":"users","id":"3847595"}]}'
  recorded_at: Mon, 29 Jul 2013 03:16:21 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/users.json?only=3847595
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"42bc421ca2911617b02290a56a3164bf"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"users":{"3847595":{"full_name":"API Test Account 1","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"mavenlinkapitest@gmail.com","headline":null,"id":"3847595"}},"results":[{"key":"users","id":"3847595"}]}'
  recorded_at: Tue, 30 Jul 2013 23:04:17 GMT
recorded_with: VCR 2.5.0
