---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces.json?include=primary_counterpart,participants,creator
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"bdc9abf0239217b9c7141c875d2b2d6d"'
    body:
      encoding: US-ASCII
      string: ! '{"count":3,"workspaces":{"3457635":{"title":"API Test Project","archived":false,"description":"","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-30T14:15:20-07:00","created_at":"2013-07-29T19:32:34-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$200","over_budget":false,"currency":"USD","id":"3457635","creator_id":"3711195","primary_counterpart_id":"3847595","participant_ids":["3711195","3847595"]},"3403465":{"title":"TEST+adsf","archived":false,"description":"---\n-
        ! ''---\n\n  - ergo\n\n  - ''''''''\n\n''\n- ''''\n","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-29T21:43:54-07:00","created_at":"2013-07-20T21:51:00-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$234","over_budget":false,"currency":"USD","id":"3403465","creator_id":"3711195","primary_counterpart_id":"3836405","participant_ids":["3711195","3836405"]},"3216035":{"title":"Intern
        Invoicing","archived":false,"description":"Time-tracking and invoicing for
        the interns, Summer ''13","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-28T23:24:23-07:00","created_at":"2013-06-19T17:52:25-07:00","consultant_role_name":"Interns","client_role_name":"Employees","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$21,375","over_budget":false,"currency":"USD","id":"3216035","creator_id":"77033","primary_counterpart_id":"148313","participant_ids":["77033","3660705","148313","3711185","3711195","2","8521"]}},"results":[{"key":"workspaces","id":"3457635"},{"key":"workspaces","id":"3403465"},{"key":"workspaces","id":"3216035"}],"users":{"3847595":{"full_name":"API
        Test Account 1","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"mavenlinkapitest@gmail.com","headline":null,"id":"3847595"},"3711195":{"full_name":"Parth","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"parth@mavenlink.com","headline":null,"id":"3711195"},"3836405":{"full_name":"PGTEST","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"parthgandhi666@gmail.com","headline":null,"id":"3836405"},"148313":{"full_name":"Mark
        Smith","photo_path":"https://app.mavenlink.com/assets/public_assets/838[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces.json?include=primary_counterpart,participants,creator&include_archived=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1734424d9cb0cb4ff75c609d94cadbbc"'
    body:
      enco[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces.json?include=primary_counterpart,participants,creator&search=API%20Test%20Project
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0958d6d72acc186e41375f39606b9b88"'
    body:
    [...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces.json?include=primary_counterpart,participants,creator&search=Random%20Workspace%20X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"5819a4999570e380c2e4eb4b016e45dc"'
    body:
      encoding: US-ASCII
      string: ! '{"count":0,"workspaces":{},"results":[],"users":{}}'
  recorded_at: Tue, 30 Jul 2013 22:15:45 GMT
- request:
    method: post
    uri: https://api.mavenlink.com/api/v1/workspaces.json
    body:
      encoding: US-ASCII
      string: workspace[title]=Random%20Workspace%20X&workspace[creator_role]=maven
    headers:
      Authorization:
      - Bearer 76e3d087ce10f25f755968302b5e501f3d45a06447a70aa8bbdfef145014920d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"27769728b993847a89ed8762d187f728"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"workspaces":{"3467375":{"title":"Random Workspace X","archived":false,"description":"","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-30T15:18:11-07:00","created_at":"2013-07-30T15:18:11-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$0","over_budget":false,"currency":"USD","id":"3467375","creator_id":"3711195"}},"results":[{"key":"workspaces","id":"3467375"}]}'
  recorded_at: Tue, 30 Jul 2013 22:18:11 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces.json?include=primary_counterpart,participants,creator&search=Random%20Workspace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"37eaf052e2c10f2ac14dd5e76b9db8f3"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"workspaces":{"3467375":{"title":"Random Workspace X","archived":false,"description":"","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-30T15:18:11-07:00","created_at":"2013-07-30T15:18:11-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$0","over_budget":false,"currency":"USD","id":"3467375","creator_id":"3711195","primary_counterpart_id":null,"participant_ids":["3711195"]}},"results":[{"key":"workspaces","id":"3467375"}],"users":{"3711195":{"full_name":"Parth","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"parth@mavenlink.com","headline":null,"id":"3711195"}}}'
  recorded_at: Tue, 30 Jul 2013 22:21:01 GMT
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces.json?include=primary_counterpart,participants,creator&search=8105
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3207a9333eaea5b24e7467ceed406591"'
    body:
      encoding: US-A[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces/3403465.json?include=primary_counterpart,participants,creator
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3207a9333eaea5b24e7467ceed406591"'
    body:
      encoding: US-ASCII[...]
- request:
    method: put
    uri: https://api.mavenlink.com/api/v1/workspaces/3457635.json
    body:
      encoding: US-ASCII
      string: workspace[title]=Random%20New%20Workspace&workspace[budgeted]=true&workspace[description][]=&workspace[description][]=&workspace[archived]=false
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"8faca538c9d541e753f463a927415569"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"workspaces":{"3457635":{"title":"Random New Workspace","archived":false,"description":"---\n-
        ''''\n- ''''\n","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-30T15:46:47-07:00","created_at":"2013-07-29T19:32:34-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$200","over_budget":false,"currency":"USD","id":"3457635","creator_id":"3711195"}},"results":[{"key":"workspaces","id":"3457635"}]}'
  recorded_at: Tue, 30 Jul 2013 22:46:47 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces.json?include=primary_counterpart,participants,creator&only=3467515
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3702cce20daf93e9033118cdc9ba1836"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"workspaces":{"3467515":{"title":"Blank Project","archived":false,"description":"","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-07-30T15:42:19-07:00","created_at":"2013-07-30T15:42:19-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":true,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$0","over_budget":false,"currency":"USD","id":"3467515","creator_id":"3711195","primary_counterpart_id":null,"participant_ids":["3711195"]}},"results":[{"key":"workspaces","id":"3467515"}],"users":{"3711195":{"full_name":"Parth","photo_path":"https://app.mavenlink.com/images/default_profile_photo/default.png","email_address":"parth@mavenlink.com","headline":null,"id":"3711195"}}}'
  recorded_at: Tue, 30 Jul 2013 23:11:10 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces/3403465.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"type":"oauth","message":"Invalid OAuth 2 Request"}]}'
  recorded_at: Fri, 02 Aug 2013 18:02:17 GMT
[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces/3403465.json?include=primary_counterpart
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"5ff2606cc8815bcffa6c15d7e5a47b43"'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"workspaces":{"3403465":{"title":"8105 Project","archived":false,"description":"---\r\n-
        ! ''---\r\n\r\n  - ergo\r\n\r\n  - ''''''''\r\n\r\n''\r\n- ''''","effective_due_date":"","budgeted":true,"change_orders_enabled":true,"updated_at":"2013-08-01T11:00:38-07:00","created_at":"2013-07-20T21:51:00-07:00","consultant_role_name":"Consultants","client_role_name":"Clients","can_create_line_items":false,"default_rate":"25.00","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"price":"TBD","price_in_cents":null,"budget_used":"$234","over_budget":false,"currency":"USD","id":"3403465","creator_id":"3711195","primary_counterpart_id":null}},"results":[{"key":"workspaces","id":"3403465"}],"users":{}}'
  recorded_at: Fri, 02 Aug 2013 18:05:46 GMT
recorded_with: VCR 2.5.0
